:root {
    --grey: #B2B1B0;
    --darker-grey: #727171;
    --white: #F2F0EF;
    --whiter-white: #FFFDFC;
    --darker-white: #D8D6D5;
    --blue: #3dd5f0;
}

body {
    position: fixed;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 2rem;
    background: var(--white);
    display: flex;
    align-items: center;
}

header nav {
    margin-left: 2rem;
}

header nav h1 a {
    text-decoration: none;
    color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

section:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;
}

section:last-child {
    height: 100vh;
    width: 100%;
}

.atom_name_region {
    margin-top: 5rem;
    margin-bottom: -5rem;
    position: relative;
    width: 10rem;
    padding: 1rem;
    background: var(--darker-grey);
    color: white;
    border-radius: 1rem;
}

.atom_name_region p {
    text-align: center;
}

.diagram {
    height: 5rem;
    width: 5rem;
    margin: auto;
    background: var(--blue);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1rem solid var(--blue);
}

.diagram img {
    line-height: 150%;
}

.elements_popup {
    height: 10rem;
    width: 20rem;
    background: var(--whiter-white);
    border-radius: 1rem;
}

.elements_popup nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
    height: 100%;
}

.elements_popup nav ul li {
    margin: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
}

.elements_popup nav ul li img {
    margin: 0 1rem;
}

.elements_popup nav ul li img:hover {
    cursor: pointer;
}

.remove_electrons {
    background: var(--whiter-white);
    width: 12rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.remove_electrons:hover {
    cursor: pointer;
}

.first_column {
    background: var(--grey);
}

.second_column {
    background: var(--grey);
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 30vh;
}

.electron {
    animation: electrons 2s infinite;
    position: relative;
    margin-top: -50rem;
    margin-right: 25rem;
}

@keyframes electrons {
    0% {
        top: 12.5rem;
        left: 12.5rem;
    }
    25% {
        top: 25rem;
        left: 25rem;
    }
    50% {
        top: 37.5rem;
        left: 12.5rem;
    }
    75% {
        top: 25rem;
        left: 0rem;
    }
    100% {
        top: 12.5rem;
        left: 12.5rem;
    }
}